<div class="pop" id="pop_box">
  <div class="pop_title">
    <h3>短信内容</h3>
    <button type="button" class="pop_close_btn" aria-hidden="true">×</button>
  </div>
  <div class="pop-content">
  	<div class="time"><p></p></div>
  	<p class="own"></p>
  	<p class="message_content"></p>
  </div>
</div>